/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.hero {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.hero__image {
  width: 100%;
}
.hero__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .hero { 
    text-align: center;
  }
}
.todo {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.todo-input__row {
  display: flex;
}
.todo-list {
  margin: 0;
  padding: 0px;
}
.list-item,
.todo-list__title {
  list-style: none;
}
.todo-input__field,
.todo-input__add-btn,
.list-item__edit-field,
.list-item__edit-btn,
.list-item__delete-btn {
  outline: none;
}
.todo-input__add-btn,
.list-item__edit-btn,
.list-item__delete-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.todo-btn:hover,
.list-item__edit-btn:hover,
.list-item__delete-btn:hover {
  color: #3a3A3a;
}
/* Heading */
.todo-list__title,
.todo-input__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.todo-input__field,
.list-item__edit-field {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.todo-input__field:focus,
.list-item__edit-field:focus {
  color: #333;
}

/* New Task */
.todo-input__label {
  display: block;
  margin: 0 0 20px;
}
.todo-input__field {
  width: 318px;
}

/* Task list */
.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-item__checkbox,
.list-item__label,
.list-item__edit-field,
.list-item__edit-btn,
.list-item__delete-btn {
  vertical-align: middle;
}
.list-item__checkbox {
  margin: 0 10px;
}
.list-item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.list-item__edit-field {
  width: 226px;
}
.list-item__delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.list-item__delete-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.list-item_completed .list-item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list-item__edit-field {
  display: none;
}

.list-item_editing .list-item__edit-field {
  display: inline-block;
  width: 224px;
}

.list-item_editing .list-item__label {
  display: none;
}